@import './variables.scss';

.jumbotron {
    position: relative;
    width: 100%;
    height: $jumbotronHeight;
    background-image: url('../pictures/home_baner.JPG');
    background-size: cover;
    background-position: center;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
}
