@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #00538a;
$secondary: #f03381;
$background: rgb(244, 244, 255);

//colors
$lighter: #F8EDE3;
$light: #DFD3C3;
$dark: #D0B8A8;
$darker: #85586F;
$black: rgba(0, 0, 0, 0.909);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

//navbar height
$navbarHeight: 60px;
$jumbotronHeight: calc(100vh - $navbarHeight);

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}